/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#qr-input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#qr-btn {
  width: 100%;
  font-size: 1.2rem;
  color: white;
  background-color: green;
  text-transform: capitalize;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#qr-btn:hover {
  background-color: darkgreen;
}

#qr-image {
  display: block;
  width: 150px;
  margin: 20px auto;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.action button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#qr-download {
  background-color: blue;
  color: white;
}

#qr-download:hover {
  background-color: darkblue;
}

#qr-share {
  background-color: purple;
  color: white;
}

#qr-share:hover {
  background-color: darkmagenta;
}

.toggle {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.toggle button {
  flex: 1;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.darkbtn {
  background-color: black;
  color: white;
}

.darkbtn:hover {
  background-color: #333;
}

.lightbtn {
  background-color: #f1f1f1;
  color: black;
}

.lightbtn:hover {
  background-color: #ddd;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.25rem;
  }

  #qr-btn {
    font-size: 1rem;
  }

  #qr-input {
    font-size: 14px;
    padding: 8px;
  }

  #qr-image {
    width: 80%;
    max-width: 120px;
  }

  .action {
    flex-direction: column;
    gap: 10px;
  }

  .action button {
    width: 100%;
  }
}
